body {
    background-color: #3f7fa1;
}

h1 {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px #03283b;
}

.card-title {
    font-size: 4em;
    color: #3f7fa1;
    font-weight: 700;
}

.card-subtitle {
    font-size: 2em;
}

.card-text {
    font-size: 2em;
}

.smaller {
    font-size: small;
}

img {
    max-width: 400px;
}

.card {
    width: 400px;
}